<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key='CassandraServer'>192.168.11.102</entry>
	<entry key='CassandraPort'>9160</entry>
	<entry key='CassandraKeyspace'>overtedb</entry>
	<entry key='CassandraName'>root</entry>
	<entry key='CassandraPw'>Root123</entry>
	<entry key='OpsServerIp'>10.111.68.205</entry>
	<entry key='OpsServerPort'>8080</entry>
	<entry key='OpsUserName'>admin</entry>
	<entry key='OpsPw'>admin</entry>
	<entry key='OpsProtocol'>HTTP</entry>
	<entry key='AlarmOpsServerPort'>9000</entry>
	<entry key='AlarmServerPort'>9038</entry>
	<entry key='TrapServerIP'>192.168.11.102</entry>
	<entry key='TrapServerPort'>163</entry>
</properties>